body {
    background: #e6e6e6;
}

/* .p-component {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.p-card {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    width: 100%;
}