body {
    background-color: #f9f6f6 !important;
}

.p-card {
    background: white !important;
    padding: 1rem !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.1) !important;
}

input[type="password"] {
    width: 100%;
}