spring.application.name=backend
server.port=8080

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.flyway.baselineOnMigrate=true
spring.flyway.out-of-order=true
spring.flyway.url=
spring.flyway.password=
spring.flyway.user=
spring.flyway.enabled=false

security.jwt.secret-key=
security.jwt.expiration-time=

appFullUrl=

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.sender-email=
spring.mail.password=

validity-reset-token-minutes=15

logging.level.root=DEBUG

data-dir=